.wrapper {
    position: fixed;
    z-index: 1;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000000a8;
    opacity: 1;
    transform: scale(1);
    animation: disappear ease-in-out 1s 4s forwards;
}

.title {
    position: fixed;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 700px;
    stroke-width: 16px;
    stroke: #fff;
    fill: transparent;
    stroke-dasharray: 19100;
    stroke-dashoffset: 19100;
    animation: textEffect ease-in-out 4s forwards, moveTitle ease-in-out 1s 4s forwards;
}

@keyframes textEffect {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes moveTitle {
    to {
        width: 200px;
        height: 50px;
        fill: #fff;
        top: 20px;
        right: 20px;
        transform: translate(0, 0);
    }
}

@keyframes disappear {
    50% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}
